* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* HEADER */
header ul {
  list-style-type: none;
  justify-content: space-between;
  display: flex;
  height: 10vh;
  align-items: center;
  padding: 1rem;
}
header ul li img {
  width: 5rem;
}
header {
  background-color: #35424a;
  width: 100%;
  height: 10vh;
  border-bottom: 2.5px solid #a94a63;
  color: white;
}
.sol__nav span {
  color: #a94a63;
  font-size: 1.5rem;
}
.right__nav {
  display: flex;
  justify-content: space-around;
  text-decoration: aliceblue;
}

a {
  color: white;
  padding: 1rem;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
  color: #a94a63;
}
/* MAIN */
.main__div1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  background-image: url(./img/BLack\ Minimalist\ Corporate\ Staff\ Identity\ LinkedIn\ Banner.png);
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
.main__div2 {
  height: 10vh;
  background-color: #35424a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.form__input2 {
  background-color: red;
  color: white;
  height: 2rem;
  width: 5rem;
  margin-right: 1rem;
  border-style: none;
}
.form__input1 {
  color: white;
  height: 2rem;
}

.main__div3 {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  text-align: center;
  height: 25vh;
}
.main__div3 img {
  width: 5rem;
}
footer {
  display: flex;
  background-color: #35424a;
  height: 15vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
footer img {
  width: 6rem;
}
/* ABAUTUS */

.abautus {
  height: 56.4vh;
  display: flex;
  margin: 40px;
  gap: 4rem;
  padding: 10px;
}

.abautus__div1 {
  width: 60vw;
  height: 15vh;
  margin-bottom: 10px;
}
.abautus__div2 {
  background-color: #35424a;
  width: 60vw;
  height: 15vh;
  color: white;
  padding: 5px;
}
.abautus__div3 {
  background-color: #35424a;
  width: 40vw;
  height: 25vh;
  padding: 15px;
  color: white;
}
/* SERVICES */

.services__div {
  height: 62.8vh;
  display: flex;
  margin: 10px;
  font-size: 0.9rem;
}
.h2 {
  padding-left: 17px;
}
.services__div1,
.services__div2,
.services__div3 {
  height: 17vh;
  background-color: rgb(237, 238, 240);
  padding: 10px;
  margin: 10px 70px 10px 20px;
  flex: 1;
  width: 65vw;
  overflow: hidden;
  white-space: nowrap;
}
.form__div {
  background-color: #35424a;
  width: 30vw;
  height: 47vh;
  padding: 15px;
  color: white;
  max-width: 30vw;
}
.form__div form {
  display: flex;
  flex-direction: column;
}
.form__div form input {
  padding: 5px;
}

.send {
  background-color: red;
  border-radius: 5px;
  width: 80px;
  height: 35px;
  border-style: none;
  margin-top: 10px;
  color: white;
}
